Repository smartdevicelink/sdl_evolution, pull requests merged in 2021-08, with the labels that each got.

#1169 SDL 0340 Revisions
  assets/proposals/0340-atf-selenium-support/ATFSelenium.png
  proposals/0340-atf-selenium-support.md
Labels: ATF, hmi, review ready, review revision update

#1170 Remove Policy Mode Option From SDL Core
  proposals/NNNN-remove-policy-mode-option-from-sdl-core.md
Labels: core, hmi, review ready

#1161 Add Notifications for Required App Support
  assets/proposals/NNNN-Addition-of-a-way-to-notify-HMI-of-the-required-support-for-apps/Figure_1_sequence_of_Add_Notifications_for_Required_App_Support.png
  proposals/NNNN-Addition-of-a-way-to-notify-HMI-of-the-required-support-for-apps.md
Labels: java suite, core, protocol, review ready, hmi

#1171 Revise SDL-0339 Replace thread::Thread implementation with std::thread from C++11
  proposals/0339-replace-pthread-implementation-with-threads-from-cpp11.md
Labels: core, review ready, review revision update

#1173 Revise SDL 0338 - Remove Unused Files From SDL Core
  proposals/0338-remove-unused-files-from-sdl-core.md
Labels: core, review ready, review revision update
