Repository smartdevicelink/sdl_evolution, pull requests merged in 2021-07, with the labels that each got.

#1158 Replace thread::Thread implementation with std::thread from C++11
  proposals/NNNN-replace-pthread-implementation-with-threads-from-cpp11.md
Labels: core, review ready

#1160 ATF Selenium Support
  assets/proposals/nnnn-atf-selenium-support/ATFSelenium.png
  proposals/nnnn-atf-selenium-support.md
Labels: ATF, hmi, review ready

#1167 Add Generic HMI Plugin Support
  assets/proposals/NNNN-add-generic-hmi-plugin-support/menu-example.png
  assets/proposals/NNNN-add-generic-hmi-plugin-support/plugin-tabs-example.png
  assets/proposals/NNNN-add-generic-hmi-plugin-support/vr-plugin-stub-example.png
  proposals/NNNN-add-generic-hmi-plugin-support.md
Labels: hmi, review ready
