Repository smartdevicelink/sdl_evolution, pull requests merged in 2021-06, with the labels that each got.

#1148 Revise SDL 0333 Handle Scenario Where no Valid Cert is Available
  proposals/0333-handle-scenario-where-no-valid-cert-is-available.md
Labels: core, review ready, review revision update

#1147 Reject PROPRIETARY/HTTP SystemRequests when PTU is not in progress
  assets/proposals/nnnn-reject-proprietary-http-systemrequests-when-ptu-not-in-progress/Http_request_flow.png
  assets/proposals/nnnn-reject-proprietary-http-systemrequests-when-ptu-not-in-progress/Proprietary_request_flow.png
  proposals/nnnn-reject-proprietary-http-systemrequests-when-ptu-not-in-progress.md
Labels: core, review ready

#1151 Revise SDL-0336 Strict Versioning for Outgoing Core Messages
  proposals/0336-strict-versioning-for-outgoing-core-messages.md
Labels: core, review ready, review revision update

#1150 Remove Unused Files From SDL Core
  proposals/nnnn-remove-unused-files-from-sdl-core.md
Labels: core, review ready

#1155 Revise SDL-0336 Strict Versioning for Outgoing Core Messages
  proposals/0336-strict-versioning-for-outgoing-core-messages.md
Labels: core, review ready, review revision update

#1156 Revise SDL 0338 - Remove Unused Files From SDL Core
  proposals/0338-remove-unused-files-from-sdl-core.md
Labels: core, review ready, review revision update

#1159 Revise SDL 0333 - Handle Scenario Where no Valid Cert is Available
  proposals/0333-handle-scenario-where-no-valid-cert-is-available.md
Labels: core, ios, java suite, javascript, review ready, review revision update, rpc
